/* global reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a,
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* general syles */
:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;

  --main-color: #757575;
  --second-color: #212121;
  --accent-color: #2196f3;
  --accent-second-color: #188ce8;
  --foreground-second-color: rgba(255, 255, 255, 0.6);
  --background-color: #ffffff;
  --background-second-color: #2f303a;
  --background-third-color: #f5f4fa;
  --icons-link-color: #afb1b8;
  --icons-background-color: rgba(255, 255, 255, 0.1);

  --card-set-gap: 30px;

  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

.btn {
  cursor: pointer;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* studio styles */

.header {
  border-bottom: 1px solid #ececec;

  background-color: var(--background-color);
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-logo.link {
  font-family: var(--second-font);
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  gap: 50px;
}

.nav-link {
  padding: 32px 0;
  transition: color var(--transition-effect);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current::after {
  content: "";

  position: absolute;
  display: block;

  width: calc(100% + 6px);
  height: 4px;
  bottom: -1px;
  left: -3px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.current.link {
  color: var(--accent-color);
}

.nav-contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  gap: 30px;
}

.contact-link {
  display: flex;
  align-items: center;
}

.nav-item-icon {
  margin-right: 10px;
  fill: currentColor;
}

.section {
  padding: 94px 0;
}

.hero {
  width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-second-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero > .container {
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--background-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--background-color);
  letter-spacing: 0.06em;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  background-color: var(--accent-color);
  transition: background-color var(--transition-effect);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--accent-second-color);
}

.modal-backdrop {
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  perspective: 1000px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-effect),
    visibility var(--transition-effect);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;

  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  transition: transform var(--transition-effect);
}

.is-hidden .modal {
  transform: scale(0, 0) rotateX(90deg);
}

.modal-close-button {
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px 8px auto auto;
  padding: 6px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--background-color);
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits {
  background-color: var(--background-color);
}

.benefits-icon-wrapper {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--background-third-color);
}

.benefits-icon {
  margin: auto;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--second-color);
}

.benefits-item {
  flex-basis: 270px;
}

.about {
  padding-top: 0;

  background-color: var(--background-color);
}

.about-title,
.team-title,
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;

  color: var(--second-color);
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
  position: relative;
}

.about-item-text {
  position: absolute;
  width: 100%;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.about-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  padding: 27px;

  color: var(--background-color);
}

.team {
  background-color: var(--background-third-color);
}

.team-member-list {
  display: flex;
  gap: 30px;
}

.team-member-item {
  background-color: var(--background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-text {
  padding: 30px 32px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;

  color: var(--second-color);
}

.team-member {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-social-link.link {
  border-radius: 50%;
  padding: 12px;
  color: var(--icons-link-color);
  transition: color var(--transition-effect),
    background-color var(--transition-effect);
}

.team-social-link:hover,
.team-social-link:focus,
.team-social-link:active {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.team-social-icon {
  fill: currentColor;
}

.customers {
  background-color: var(--background-color);
}

.customers-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers-link.link {
  color: var(--icons-link-color);
  border: 1px solid var(--icons-link-color);
  border-radius: 4px;
  padding: 16px 32px;
  transition: color var(--transition-effect),
    border-color var(--transition-effect);
}

.customers-link:hover,
.customers-link:focus,
.customers-link:active {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

/* portfolio styles */

.portfolio {
  background-color: var(--background-color);
}

.portfolio-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.portfolio-filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;

  color: var(--second-color);
  background-color: var(--background-third-color);

  border-radius: 4px;
  border: none;

  transition: color var(--transition-effect),
    background-color var(--transition-effect),
    box-shadow var(--transition-effect);
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus,
.portfolio-filter-button:active {
  color: var(--background-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}

.portfolio-link {
  transition: box-shadow var(--transition-effect);
}

.portfolio-link:hover,
.portfolio-link:active,
.portfolio-link:focus {
  color: inherit;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  transform: translateY(100%);
  transition: transform var(--transition-effect);

  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-text {
  font-size: 18px;
  line-height: 1.56;

  padding: 24px;
  color: var(--background-color);
}

.portfolio-item-text {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--second-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}

/* footer styles */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-second-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer-logo.link {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;

  color: var(--background-color);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
}

.footer-postal.link {
  color: var(--background-color);
}

.footer-contacts.link {
  color: var(--foreground-second-color);
}

.footer-socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--background-color);
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-link.link {
  border-radius: 50%;
  padding: 12px;
  color: var(--background-color);
  background-color: var(--icons-background-color);
  transition: background-color var(--transition-effect);
}

.footer-social-link.link:hover,
.footer-social-link.link:focus,
.footer-social-link.link:active {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: currentColor;
}
